<p style="color: green">
  <%= notice %>
</p>

<div class="d-flex align-items-center">
  <%= link_to tweets_path, class: "btn btn-primary ml-2 mr-2" do %>
    <i class="fas fa-arrow-left"></i> Volver
  <% end %>
  
  <%= render @tweet %>

  <div class="ml-auto">
    <%= link_to edit_tweet_path(@tweet), class: "btn btn-info mr-2" do %>
      <i class="fas fa-edit"></i> Editar tweet
    <% end %>

    <%= button_to @tweet, method: :delete, data: { confirm: false }, class: "btn btn-danger" do %>
      <i class="fas fa-trash-alt"></i> Eliminar tweet
    <% end %>
  </div>
</div>
